* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #30cfd0 0%, #330867 100%);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  text-align: center;
  color: #fff;
}

.quote {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#new-quote {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#new-quote:hover {
  background-color: #1976d2;
}


